.cuisine-types {
    grid-template-columns: repeat(10, 1fr);
}

.cuisine-type-item {
    padding: 1rem 1rem;
    width: 6rem;
    height: 5rem;
    line-height: 2;
}

.cuisine-type-icon {
    width: 6rem;
    height: 4rem;
}

.cuisine-type-icon:hover {
    cursor: pointer;
}

.burgers-icon {
    background: url("../images/burgers.webp") center/cover no-repeat;
}

.chicken-icon {
    background: url("../images/chicken.webp") center/cover no-repeat;
}

.greek-icon {
    background: url("../images/greek.webp") center/cover no-repeat;
}

.chinese-icon {
    background: url("../images/chinese.png") center/cover no-repeat;
}

.kebab-icon {
    background: url("../images/kebab.png") center/cover no-repeat;
}

.sushi-icon {
    background: url("../images/sushi.png") center/cover no-repeat;
}

.pizza-icon {
    background: url("../images/pizza.png") center/cover no-repeat;
}

.groceries-icon {
    background: url("../images/groceries.jpg") center/cover no-repeat;
}

.indian-icon {
    background: url("../images/indian.webp") center/cover no-repeat;
}