/*nav mode */
.pickup-mode-container {
    display: flex;
    justify-content: space-between;
}

.nav {
    display: inline-block;
}

.map-container {
    display: inline-block;
}

/* Restaurant list */
.restaurant-list {
    padding: 3rem 0;
    background-color: var(--white-color)
}

.restaurant-list-content {
    gap: 2rem;
}

/* Restaurant item */
.restaurant-item {
    position: relative;
    padding: 2rem 1.5rem;
    height: 280px;
    border-radius: 4px;
    background-color: var(--white-color);
    box-shadow: var(--light-black-color) 0px 1px 1px 0px;
    transition: var(--transition);
}

.restaurant-item:hover {
    box-shadow: var(--light-black-color) 0px 5px 10px 0px;
}

.restaurant-item-offers {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
}

.deals-tag {
    background-color: var(--orange-color);
    border-radius: 0 15px 15px 0;
    padding: 6px;
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 14px;
}

.stamps-tag {
    background-color: var(--black-color);
    color: var(--white-color);
    border-radius: 0 15px 15px 0;
    padding: 6px;
    font-size: 12px;
    font-weight: bold;
    max-width: 45px;
    margin-bottom: 14px;
}

.low-delivery-fee-tag {
    background-color: var(--green-color);
    color: var(--white-color);
    border-radius: 25px;
    padding: 6px;
    font-size: 10px;
    font-weight: bold;
    max-width: 40px;
    margin-left: 6px;
}

.restaurant-item-logo img {
    max-width: 600px;
    margin-right: auto;
    margin-left: auto;
}

.restaurant-item-info {
    line-height: 2;
    font-size: 0.95rem;
}

/* Restaurant list for pickup mode */
.pickup-mode {
    padding: 2rem 1.5rem;
    height: 80px;
    width: 330px;
    border-radius: 4px;
    background-color: var(--white-color);
    transition: var(--transition);
    display: flex;
    border: 1px solid grey;
    cursor: pointer;
}

.pickup-element {
    width: 400px;
    line-height: 1.5;
    font-size: 12px;
}

@media screen and (min-width: 750px) {
    .restaurant-list-content {
        grid-template-columns: repeat(3, 1fr);
    }

    .restaurant-item-info {
        line-height: 2;
        font-size: 0.85rem;
    }

    .restaurant-item-logo img {
        max-width: 600px;
        margin-right: auto;
        margin-left: auto;
    }

    .pickup-element {
        width: 300px;
        line-height: 1.5;
        font-size: 12px;
    }
}

@media screen and (min-width: 992px) {
    .restaurant-list-content {
        grid-template-columns: repeat(4, 1fr);
    }

    .restaurant-item-logo img {
        max-width: 600px;
        margin-right: auto;
        margin-left: auto;
    }

    .pickup-element {
        width: 300px;
        line-height: 1.5;
        font-size: 12px;
    }
}
