.switch {
    position: relative;
    display: inline-block;
    width: 160px;
    height: 45px;
}

/* Rounded sliders */
.slider.round {
    border-radius: 100px;
}

.slider.round:before {
    border-radius: 100px;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--orange-color);
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    color: var(--orange-color);
    font-size: 20px;
    font-weight: bold;
    height: 35px;
    width: 90px;
    left: 5px;
    bottom: 5px;
    -webkit-transition: .4s;
    transition: .4s;
    background: var(--white-color);
}

.delivery:before {
    content: "Delivery";
}

.pickup:before {
    content: "Pickup";
}

input:checked + .slider {
    background-color: var(--orange-color);
}

input:checked + .slider:before {
    -webkit-transform: translateX(60px);
    -ms-transform: translateX(60px);
    transform: translateX(60px);
}

