.header-content {
    min-height: 75vh;
    background: url("../images/home-header.png") center/cover no-repeat;
    flex-direction: column;
}

.header-title {
    font-size: 70px;
    padding: 20px;
    border-radius: 70px;
    background-color: var(--orange-color);
}

.header-text {
    margin-top: -1.8rem;
    margin-bottom: 2.8rem;
    opacity: 0.8;
    max-width: 770px;
}