.restaurant-list {
    padding: 3rem 0;
    background-color: var(--white-color)
}

.restaurant-list-content {
    gap: 3rem;
}

.restaurant-item {
    padding: 2rem 1.5rem;
    height: 18rem;
    border-radius: 4px;
    background-color: var(--white-color);
    box-shadow: var(--light-black-color) 0px 1px 1px 0px;
    transition: var(--transition);
}

.restaurant-item:hover {
    box-shadow: var(--light-black-color) 0px 5px 10px 0px;
}

.restaurant-item-logo img {
    max-width: 600px;
    margin-right: auto;
    margin-left: auto;
}

.restaurant-item-info {
    line-height: 2;
    font-size: 0.95rem;
}

.restaurant-item-deal {
    background-color: var(--orange-color);
    border-radius:  0 15px 15px 0;
    padding: 6px;
}

@media screen and (min-width: 750px) {
    .restaurant-list-content {
        grid-template-columns: repeat(3, 1fr);
    }

    .restaurant-item-info {
        line-height: 2;
        font-size: 0.85rem;
    }

    .restaurant-item-logo img {
        maxWidth: 600px;
        margin-right: auto;
        margin-left: auto;
    }
}

@media screen and (min-width: 992px) {
    .restaurant-list-content {
        grid-template-columns: repeat(4, 1fr);
    }

    .restaurant-item-logo img {
        maxWidth: 600px;
        margin-right: auto;
        margin-left: auto;
    }
}
